@charset "utf-8";




/*공통*/
.inner{max-width: 1400px; margin: 0 auto;}


/* header */
header{position: absolute; top: 0; left: 0; width: 100%; z-index: 9; background-color: #fff;}
header .inner{display: flex; height: 80px; margin: 0 auto; position: relative; text-align: center;}
header h1{position: absolute; top: 30px; left: 30px;}
header .gnb{display: flex; position: absolute; top: 33px; left: 250px; font-size: 2rem;}
header .gnb > li{position: relative; width: 180px;}
header .gnb > li > a{transition: color 0.5s, font-weight 0.5s;}

header .gnb > li:hover > a{color : #242335; font-weight: bold;}

header .gnb > li:after{content: ""; display: block; width: 2px; height: 20px; background-color: #000; position: absolute; top: 4px; right: 0;} 
header .gnb > li:last-child::after{content: none;}


/* header ul > li > ul {background-color: #fff;  height: 300px;} */


header .gnb li .depth2{display: none; background-color: #fff; height: 340px; width: 185px; padding-top: 10px;}
header .gnb:hover li .depth2{display: block;}
header .gnb li .depth2 li{padding-top: 20px;}
header .gnb li .depth2 li a{display: block; font-size: 1.8rem; transition: color 0.5s, font-weight 0.5s;}
header .gnb li .depth2 li:hover a{font-size: 1.8rem; color : #684B4B; font-weight: bold;}

header .utill{position: absolute; top: 33px; right: 45px; gap: 20px; display: flex;}


header .ham{display: none;}


/***************** 모바일 ****************/
@media screen and (max-width : 768px){
  

 /* header */
 header .gnb{display: none;}
 header .utill{display: none;}
 header .utill .ham{display: block;}
 header h1 img{width: 80%;}

 header .ham{display: block; position: absolute; top: 34px; right: 30px;}

 header .pc-search{display: none;}

}



/* pc-search */
.pc-search{position: absolute; left: 0; top: 78px; width: 100%; background-color: #fff; border-top: 1px solid #ddd; text-align: center; padding: 100px 50px; z-index: 1000;}
.pc-search div{display: inline-block;  background-color: #eee; overflow: hidden; width: 20%; min-width: 260px;}
.pc-search input[type="text"]{font-family: "Arita-dotum", sans-serif; background-color: transparent; width: calc(100% - 60px); height: 50px; font-size: 1.6rem; padding: 0 20px;}
.pc-search button{background: url(../img/common/search.png) no-repeat center; font-size: 0; color: transparent; width: 50px; height: 50px; cursor: pointer; border: 0;}
.pc-search .search-close{display: inline-block; width: 50px; height: 50px; background-color: #684B4B; color: #fff; padding-top: 14px; transform: translateY(20px); text-align: center; cursor: pointer; position: absolute; top: 80px; left: 60%;}




/* footer */
footer .inner{position: relative;}
footer{height: 250px;}
footer .footer-txt{color: #908F8D; font-size: 1.3rem; padding: 1% 0; border-bottom: 0.3px solid #D1D1D1;}
footer .footer-list{display: flex; margin-top: 34px; margin-bottom: 20px;}
footer .footer-txt ul{display: flex; gap: 15px;}
footer .footer-txt ul li a{transition: color 0.5s;}
footer .footer-txt ul li:hover a{color: #684B4B; font-weight: bold;}
/* footer h1 img{width: 100%;} */
footer h1 .m-logo{display: none;}
footer .footer-list .sns ul{display: flex; gap: 20px; margin-left: 25px;}
footer .footer-list .sns ul li{width: 40px; height: 40px; background-color: #D9D9D9; text-align: center; padding-top: 6%; padding-left : 1%; border-radius: 50%; transition: background-color 0.5s;}
footer .footer-list .sns ul li img{width: 19px; height: 19px;}
footer .footer-list .sns ul li:hover{background-color: #6F6363;}

footer .f-txt{font-size: 1.3rem; position: absolute; top: 140px; left: 160px; color: #787572; line-height: 1.5;}
footer .f-txt .pc-br{display: none;}


/******모바일********/
@media screen and (max-width : 768px){
  footer .inner{position: relative; margin: 0 auto; margin-top: 0px;
  max-width: 300px;}
  footer .footer-txt{color: #908F8D; font-size: 0.9rem;}

  footer .sns{display: none;}
  footer .f-txt{text-align: center; position: absolute; top: 30px; left: 0; font-size: 1.0rem;}
  footer h1 .m-logo{display: block; height: 26px; width: 121px; position: absolute; top: 80%; left: 50%; transform: translate(-50%); opacity: 0.5;}
  footer h1 .pc-logo{display: none;}

  footer .f-txt .br{display: none;}

  footer .footer-txt ul{margin-left: 20px;}
 }